[MASTER]
ignore=__pycache__

[MESSAGES CONTROL]
disable=C0114,C0115,C0116

[FORMAT]
max-line-length=100

[REPORTS]
output-format=colorized

[TYPECHECK]
ignore-mixin-members=yes

[DESIGN]
max-args=6
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=10

[LOGGING]
logging-modules=logging
